Makefile
Makefile.in
Makefile.in.in
configure
config.log
config.status
aclocal.m4
config/
autom4te.cache/
po/POTFILES
po/stamp-it
po/*.pot
builddir/
build/
.vscode/
config/

*~
*.gmo
metadata.json
*.gschema.xml
*.gschema.valid
gschemas.compiled
_build
zip-files

*.swp
