.controls {
    spacing: 5px;
}

.indicator-icon {
    padding-right: 0px;
}

.status-icon {
    icon-size: 10px;
    padding-bottom: 0.4em;
}

.track-box {
    padding-left: 1.7em;
    padding-right: 1em;
}

.track-cover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}

.track-infos:ltr {
    padding-left: 0em;
}

.track-infos:rtl {
    padding-left: 0em;
}

.track-title {
    font-weight: bold;
    font-size: 1.1em;
}

.track-artist {
    padding-top: 0.2em;
    font-size: 0.9em;
}

.track-album {
    padding-top: 0.2em;
    font-size: 0.9em;
}

.track-rating {
    padding-top: 0.2em;
    font-size: 0.9em;
}

.menu-icon {
    icon-size: 1.14em;
}

.slider-item .slider-text {
    font-size: 0.9em;
    width: 7em;
}

.popup-menu-item:active {
    color: white;
}

.control-button:disabled {
    color: #999;
}
