/* Keep the vertical spacing on the Now Playing "row" containers but
 * remove left/right spacing
 */
.album-details {
  margin-left: 35px;
  margin-right: 35px;
  padding-left: 0;
  padding-right: 0;
  spacing: 0;
}

.album-details.slider-row {
  spacing: 12px;
}

/*
 * Everything within a row defaults to no spacing.
 *
 * Some widgets get overridden later
 */
.album-details * {
  margin: 0;
  padding: 0;
}

/*
 * Ideally we'd remove the spacer boxes by using a different widget type
 * but it isn't clear that Gnome Shell supports it.
 */
.album-details > :first-child {
    width: 0px;
}

.player-buttons {
    spacing: 2px;
}

.album-details .medium-player-button {
    padding: 0 6px;
}
.album-details .large-player-button {
    padding: 0 8px;
}

.album-details .system-menu-action {
  padding: 13px;
}

.album-details .system-menu-action:hover {
  padding: 14px;
}

.panel-media-indicator {
  min-width: 288px;
  max-width: 288px;
}

.large-cover-icon {
  icon-size: 128px !important;
}

.small-cover-icon {
  icon-size: 48px !important;
}

.no-padding {
    padding: 0px;
}

.no-padding-top {
    padding-top: 0px;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.pithos-rating-box {
    spacing: 6px;
}

.track-info-artist {
  font-weight: bold;
}

.track-info-title {
  font-size: small;
}

.track-info-album {
  font-size: x-small;
}

.album-details .star-icon {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0.5px;
    padding-right: 0.5px;
}
