/* em's don't scale? */
.controls {
    padding-top: 0px;
    spacing: 5px;
    padding-bottom: 0px;
}

.no-padding {
    padding: 0px;
}

.indicator-item {
    padding-left: 0px;
    padding-right: 0px;
}

.secondary-indicator {
    icon-size: 10px;
}

.track-box {
    padding-top: 0px;
    spacing: 5px;
    padding-bottom: 0px;
}

.track-info-artist {
  font-weight: bold;
}

.tracklist-artist {
  font-weight: bold;
  font-size: x-small;
}

.track-info-title {
  font-size: small;
}

.track-info-album {
  font-size: x-small;
}

.track-rating {
    padding-top: 0px;
    padding-bottom: 0px;
}

.star-icon {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0.5px;
    padding-right: 0.5px;
}

.star-box {
    padding-top: 0px;
    spacing: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
