.button-container {
    padding-right: 5px;
}

.button {
    width: 22px;
    height: 13px;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 7px;
}
.button:hover {
    border: 1px solid white;
}

.button-icon {
    icon-size: 1.4em;
}

.player {
    padding: 6px;
    padding-left: 20px;
    background: #333;
}

.player-icon {
    icon-size: 1.14em;
}

.player-name {
    padding-left: 3px;
}

.volume {
    padding-left: 30px;
}

.volume-icon {
    icon-size: 1.14em;
    padding-left: 8px;
}

.track-info-icon {
    icon-size: 1em;
}

.track-info-text {
    padding-left: 5px;
}

.track-box {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.track-infos {
    padding-left: 10px;
}

.track-cover {
    border: 1px solid #555;
    padding: 3px;
    max-width: 120px;
}

.playback-control {
    padding-top: 10px;
}

