.button-container {
    padding-right: 5px;
}

.button {
    width: 22px;
    height: 13px;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 5px;
}
.button:hover {
    border: 1px solid #eee;
}

.button StIcon {
    icon-size: 16px;
}

.track-infos {
    padding-left: 5px;
}

.track-info {
    height: 25px;
}

.track-info StIcon {
    icon-size: 1em;
}

.track-info StLabel {
    padding-left: 5px;
    font-size: 0.8em;
}

.track-box {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
}

.volume-menu-item {
    padding: .4em 1.75em;
}

.volume-menu-item StIcon {
    icon-size: 1.14em;
    padding-left: 8px;
}

.playback-control {
    padding-top: 10px;
    padding-bottom: 10px;
}

.player-title {
    padding: .4em 1.74em;
}

.player-title StIcon {
    icon-size: 16px;
    padding-right: .5em;
}
