.controls {
    spacing: 5px;
}

.status-icon {
    icon-size: 10px;
    padding-bottom: 0.3em;
}

.track-cover {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 2px;
}

.track-infos {
    padding-left: 1em;
    width: 15em;
}

.track-title {
    font-weight: bold;
    font-size: 1.1em;
}

.track-artist {
    padding-top: 0.2em;
    font-size: 0.9em;
}

.track-album {
    padding-top: 0.2em;
    font-size: 0.9em;
}

.track-rating {
    padding-top: 0.15em;
    font-size: 0.9em;
}

.menu-icon {
    icon-size: 1.14em;
    padding-right: .4em;
}

.slider-item StLabel {
    font-size: 0.9em;
    width: 9em;
}

.title-button {
    padding: 3px;
    border-radius: 12px;
}

.title-button:hover {
    background: #c03;
    background: #999;
    padding: 4px;
}

.control-button:disabled {
    color: #999;
}
